/* Soluzione qui */

/* bonus */

@media screen and (min-width:576px){
    .presentation img{
        display: inline-block;
        float: left;
        margin-right: 10px;
    }

    .btn {
        border: 0;
        padding: 10px 40px;
    }

}


/* tablet */

@media screen and (min-width:768px){
    #topbar {
        display: flex;
        justify-content: left;
    }

    main {
        padding: 50px;
    }
    
    .recipe-origin {
        display: inline-block;
    }

    .recipe-name {
        font-size: 1.8em;
    }

    .quick-notes li{
        width: 30%;
        display: inline-block;
    }

    .btn {
        border: 0;
        padding: 10px 50px;
    }

    .ads {
        display: block;
        margin: 30px auto;
    }

    .presentation img{
        display: inline-block;
        float: left;
        margin-right: 10px;
    }

}

/* desktop */

@media screen and (min-width:992px){
    .recipe-name {
        font-size: 2.5em;
    }

    .quick-notes li{
        width: 100%;
        display: block;
    }

    .recipe-card{
        display: flex;
    }

    .recipe-info{
        width: 30%;
    }

    .recipe-video{
        width: 70%;
        height: 70%;
    }

    .social-networks .label {
        display: inline-block;
    }

    address{
        text-align: left;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }
}